/*the navbar at the top */


.top-nav {
  background-color: rgb(63, 127, 191);
  font-size: 15px;
}
nav{
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.top-nav ul {
  display: flex;
  list-style: none;
  padding: 10px 0;
  margin: auto 0;
}

.top-nav>ul>li {
  margin: 0 5px;
}

.top-nav>ul>li>a:hover {
  color: #dae8ef;
}

.top-nav li a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #2667a8;
}

#menu-bar {
  background: white;
}

#navbar-content>ul>li>a {
  color: white;
}

#navbar-content>ul>li>a:hover {
  color: #dae8ef;
}

#navbar-content>.nav-link>.fa-shopping-cart {
  color: white;
}

#navbar-content>.nav-link>.fa-shopping-cart:hover {
  color: #dae8ef;
}

.navbar-brand >h1{
  color: white;
  cursor: pointer;
  
}
/* 
.navbar-brand>h1:hover {
  color: #dae8ef;
} */

@media screen and (max-width:630px) {
  .top-nav {
    flex-direction: column;
    padding: 0;
  }
  .top-nav ul {
    padding: 0;
  }
  #top-nav-ul-1 {
    justify-content: flex-start;
  }
  #top-nav-ul-2 {
    justify-content: flex-end;
  }
}


/*---------------------------------------------*/


/*the first page of carosal*/

#carousel img {
  width: 100%;
  height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 15px;
}

@media (max-width:1000px) {
  #carousel img {
    height: 100%;
  }
}


/*---------------------------------------------*/


/*the third page of adds display*/

.adds-box {
  position: relative;
  display: block;
  max-width: 550px;
  margin: 0 auto
}

.adds-box .adds-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(1, 1, 1, .4);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.adds-box .adds-box-caption .adds-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center
}

.adds-box .adds-box-caption .adds-box-caption-content .project-category,
.adds-box .adds-box-caption .adds-box-caption-content {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.adds-box .adds-box-caption .adds-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase
}

.adds-box .adds-box-caption .adds-box-caption-content {
  font-size: 18px
}

.adds-box:hover .adds-box-caption {
  opacity: 1
}

.adds-box:focus {
  outline: 0
}

#adds img {
  width: 100%;
}

@media (min-width:768px) {
  .adds-box .adds-box-caption .adds-box-caption-content .project-category {
    font-size: 16px
  }
  .adds-box .adds-box-caption .adds-box-caption-content .project-name {
    font-size: 22px
  }
}


/*---------------------------------------------*/


/*fourth page of display*/

#most-sold-products .most-sold-products-item {
  right: 0;
  margin: 0 0 15px;
}

#most-sold-products .most-sold-products-item .most-sold-products-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer
}

#most-sold-products .most-sold-products-item .most-sold-products-link .most-sold-products-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(1, 1, 1, .5);
  color: whitesmoke;
}

#most-sold-products .most-sold-products-item .most-sold-products-link .most-sold-products-hover:hover {
  opacity: 1
}

#most-sold-products .most-sold-products-item .most-sold-products-link .most-sold-products-hover .most-sold-products-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #fff
}

#most-sold-products .most-sold-products-item .most-sold-products-link .most-sold-products-hover .most-sold-products-hover-content i {
  margin-top: -9px
}

#most-sold-products .most-sold-products-item .most-sold-products-link .most-sold-products-hover .most-sold-products-hover-content h3,
#most-sold-products .most-sold-products-item .most-sold-products-link .most-sold-products-hover .most-sold-products-hover-content h4 {
  margin: 0
}

#most-sold-products .most-sold-products-item .most-sold-products-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff
}

#most-sold-products .most-sold-products-item .most-sold-products-caption h4 {
  margin: 0;
  text-transform: none
}

#most-sold-products .most-sold-products-item .most-sold-products-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#most-sold-products * {
  z-index: 2
}

.most-sold-products-modal .modal-dialog {
  max-width: none;
  height: 100%;
  margin: 0
}

.most-sold-products-modal .modal-content {
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none
}

.most-sold-products-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px
}

.most-sold-products-modal .modal-content p {
  margin-bottom: 30px
}

.most-sold-products-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.most-sold-products-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px
}

.most-sold-products-modal .modal-content img {
  margin-bottom: 30px
}

.most-sold-products-modal .modal-content button {
  cursor: pointer
}

.most-sold-products-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent
}

.most-sold-products-modal .close-modal:hover {
  opacity: .3
}

.most-sold-products-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #222
}

.most-sold-products-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #222
}

.most-sold-products-modal .modal-backdrop {
  display: none;
  opacity: 0
}

@media (min-width:767px) {
  #most-sold-products .most-sold-products-item {
    margin: 0 0 30px
  }
}


/*--------------------------------------*/


/*the footer*/

footer {
  background-color: #0b1628;
  color: white;
  padding-top: 30px;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

.footer-copyright {
  background: #040b16;
  padding: 10px;
}

footer ul li a {
  text-decoration: none;
}

/*--------------------------------------------------------*/


/*login and register*/

.modal-content {
  background: rgb(63, 127, 191);
}

.account input {
  border: 2px solid rgb(63, 127, 191);
  text-indent: 4px;
}

.account button {
  background: rgb(38, 76, 114);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.account button:hover {
  background: rgb(25, 51, 76);
  padding-right: 25px;
}

.account p a {
  text-decoration: none;
  color: white;
}
